.DS_Store
/.idea

/Documentation/conf.py
/Documentation.out

/.Build
/composer.lock

/Resources/Private/PHP/tcpdf
!/Resources/Private/PHP/tcpdf/.gitkeep
/Resources/Private/PHP/fpdi
!/Resources/Private/PHP/fpdi/src/.gitkeep

/Tests/Output/
!/Tests/Output/.gitkeep
